<% content_for :contents do %>

<div id="home">

  <header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h1><%= t(:app_name) %></h1>
          <h2><%= t(:mission_statement) %>.</h2>
          <a href="/reports/new" class="btn btn-large btn-danger"><%= t(:report_new_problem)%></a>

          <div class="visible-desktop">
            <h6>
              <a href="#mobile" data-toggle="modal"> <%= t(:open_in_smartphone) %> </a>
            </h6>

          </div>


          <div id="mobile" class="modal modal-fluid hide full-image">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <%= image_tag image_path('handheld.jpg') %>
          </div>



        </div>
      </div>
    </div>
  </header>

  <div style="display: none;">
    <div id="map-legend">

      <h6>À procura de outra cidade:</h6>

      <form>
        <select onchange=" var target = this.value.split(';');
                centerMapOnLocation(parseFloat(target[0]), parseFloat(target[1]), parseFloat(target[2]));">
          <option value="40.62396669293605;-8.64763374655763;13">Aveiro</option>
          <option value="41.551554,-8.422627;13">Braga</option>
          <option value="40.20119879996395;-8.426894545555115;13" selected="selected">Coimbra</option>
          <option value="40.110306057428645;-8.494382360950112;13">Condeixa-a-Nova</option>
          <option value="40.55463492731125;-8.68555873632431;14">Vagos</option>
          <option value="38.754811181431535;-9.13465591147542;12">Lisboa</option>
        </select>
      </form>
      <h5>Problema:</h5>
      <p><%= image_tag('red-dot.png')    %> <%= t(:legend_red_dot)    %></p>
      <p><%= image_tag('yellow-dot.png') %> <%= t(:legend_yellow_dot) %></p>
      <p><%= image_tag('green-dot.png')  %> <%= t(:legend_green_dot)  %></p>
    </div>
  </div>

  <%= gmaps(:markers => {
              :data => [],
              :options => {
                :randomize => true,
                :max_random_distance => 1,
                :do_clustering => true
              }
            },
            :map_options => {
              :container_class => 'map-container hidden-phone',
              :raw => '{styles: myStyle}',
              #TODO Read from configuration somewhere
              :language => 'pt', :hl => 'pt', :region => 'pt',
              :center_latitude => 40.20119879996395,
              :center_longitude => -8.426894545555115,
              :zoom => 13
            })
    %>

</div>
<% end %>
