<% content_for :contents do %>

<div id="home">

  <header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h1><%= t(:app_name) %></h1>
          <h2><%= t(:mission_statement) %>.</h2>
          <a href="/reports/new" class="btn btn-large btn-danger"><%= t(:report_new_problem)%></a>

          <div class="visible-desktop">
            <h6>
              <a href="#mobile" data-toggle="modal"> <%= t(:open_in_smartphone) %> </a>
            </h6>
          </div>

          <div id="mobile" class="modal modal-fluid hide full-image">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <%= image_tag image_path('handheld.jpg') %>
          </div>

        </div>
      </div>
    </div>
  </header>

  <%= gmaps(:markers => { "data" => @reports }, :map_options => { :container_class => 'map-container hidden-phone', :raw => "{styles: myStyle}"  }) %>

</div>

<% end %>
