<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p><b><%= t(:new_reported_problem) %>:</b><p/>
<p style="white-space: pre-wrap"><%= @report.description %></p>

<p>
  <%= t(:view_more_information) %>:  <%= link_to t(:report), report_url(@report) %>.
</p>

<!--
<p>
  Para referência em contactos futuros por favor indicar o valor: <%= @report._id %>
</p>
-->

</body>
</html>
