<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p><b><%= t(:new_reported_problem) %>:</b><p/>
<p style="white-space: pre-wrap"><%= @report.description %></p>

<p>
  <%= t(:view_more_information) %>:  <%= link_to t(:report), report_url(@report) %>.
</p>


<p>
  <b>Para referência em contactos futuros por favor indicar o código: <%= @report._id %></b> <br/>

  Caso não seja indicado o código:<b><%= @report._id %></b> nas respostas que nos enviarem <b>não</b> poderemos acompanhar
  o processo.

</p>


</body>
</html>
