<%= form_for(@report, html: { multipart: true }) do |f| %>

    <% if @report.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

          <ul>
            <% @report.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :photos %>
      <br>
      <%= f.fields_for :photos do |photo_builder| %>
        <%= render 'photo_fields', :pf => photo_builder %>
      <% end %>
      <p><%= link_to_add_fields "Adicionar Foto", f, :photos %></p>
    </div>

    <input type="hidden" name="report[coordinates][]" id="longitude" value=""/>
    <input type="hidden" name="report[coordinates][]" id="latitude" value=""/>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
