<%= form_for(@report, :html => { :multipart => true, :class => 'form-horizontal' }) do |f| %>

    <% if @report.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <p><%= pluralize(@report.errors.count, t(:error)) %> <%= t(:stopped_report_from_save) %>:</p>
          <ul>
            <% @report.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group" id="photos-div">
      <%= f.label :photos, t(:photo_or_photos), :class => 'control-label' %>
      <div class="controls">
        <%= f.fields_for :photos do |photo_builder| %>
          <%= render 'photo_fields', :pf => photo_builder %>
        <% end %>
        <br/><%= link_to_add_fields t(:add_another_photo), f, :photos %>
      </div>
    </div>
    <div class="control-group" id="no-photos-div" style="display: none">
      <%= f.label :photos, t(:photo_or_photos), :class => 'control-label' %>
      <div class="controls">
        <%= t :no_browser_support_for_image_upload %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :user, t(:email), :class => 'control-label' %>
      <div class="controls">
        <%= text_field :user, :uuid, :placeholder => t(:sample_mail), :type => 'email' %>
        <span class="help-inline"><small><%= t(:email_help) %></small></span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, t(:description), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :rows => 3, :placeholder => t(:problem_details_description) %>
      </div>
    </div>



    <% content_for :scripts do %>

        <script type="text/javascript" charset="utf-8">
            var markersArray = [];
            // On click, clear markers, place a new one, update coordinates in the form
            Gmaps.map.callback = function() {
                google.maps.event.addListener(Gmaps.map.serviceObject, 'click', function(event) {
                    clearOverlays();
                    placeMarker(event.latLng);
                    updateFormLocation(event.latLng);
                });
            };
            // Update form attributes with given coordinates
            function updateFormLocation(latLng) {
                $("#latitute").val(latLng.lat());
                $("#longitude").val(latLng.lng());
            }
            // Add a marker with an open infowindow
            function placeMarker(latLng) {
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: Gmaps.map.serviceObject,
                    draggable: true
                });
                markersArray.push(marker);
                // Listen to drag & drop
                google.maps.event.addListener(marker, 'dragend', function() {
                    updateFormLocation(this.getPosition());
                });
            }
            // Removes the overlays from the map
            function clearOverlays() {
                if (markersArray) {
                    for (var i = 0; i < markersArray.length; i++ ) {
                        markersArray[i].setMap(null);
                    }
                }
                markersArray.length = 0;
            }
        </script>
    <% end %>


    <p>
    <div class="status_message" id="loading_location_message"  style="display: none">
      <%= image_tag 'ajax-loader.gif' %>
      <%= t(:searching_location) %>
    </div>
    <div class="status_message" id="location_found_message"  style="display: none"><%= t(:location_found_message) %></div>
    <div class="status_message" id="location_not_found_message" style="display: none">
      <%= t(:location_not_found_message) %>
      <%= link_to_function t(:retry_location) ,'findLocation()', :class => 'btn' %>
    </div>


    <div id="problem" class="control-group">
      <%= gmaps({
                        :map_options => {
                                :auto_zoom => false,
                                :zoom => 15,
                                :raw => '{styles: myStyle}'
                        },
                        :markers => {
                                :data => @report.to_gmaps4rails,
                                :options => {
                                        :draggable => true
                                }
                        },
                })
      %>
    </div>

    <input type="hidden" name="report[coordinates][]" id="longitude" value=""/>
    <input type="hidden" name="report[coordinates][]" id="latitude" value=""/>

    <div id="submit-in-progress" class="status_message" style="display: none">
      <%= image_tag 'ajax-loader.gif' %><%= t(:sending_report) %>
    </div>

    <% content_for :scripts do %>

        <script type="text/javascript">
            function send_report() {
                $("#new_report").children().hide();
                $("#submit-in-progress").show();
                $("#new_report").submit();
            }
        </script>
    <% end %>
    <div id="submit-form-actions" class="form-actions">
      <%= link_to_function t(:send), 'send_report()' ,:class => 'btn btn-danger btn-large' %>
      <%= link_to t(:back), root_path, :class => 'btn' %>
    </div>

<% end %>
