<%= form_for(@report, :html => { :multipart => true, :class => 'form-horizontal' }) do |f| %>

    <% if @report.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <p><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</p>
          <ul>
            <% @report.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group" id="photos-div">
      <%= f.label :photos, "Foto(s)", :class => 'control-label' %>
      <div class="controls">
        <%= f.fields_for :photos do |photo_builder| %>
          <%= render 'photo_fields', :pf => photo_builder %>
        <% end %>
        <br/><%= link_to_add_fields "Adicionar outra foto", f, :photos %>
      </div>
    </div>
    <div class="control-group" id="no-photos-div" hidden="true">
      <%= f.label :photos, "Foto(s)", :class => 'control-label' %>
      <div class="controls">
        Não existe suporte para envio de imagens com o seu browser!
      </div>
    </div>


    <div class="control-group">
      <%= f.label :description, "Descrição", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :rows => 3, :placeholder => 'Detalhes sobre o problema...' %>
      </div>
    </div>

    <p>
      <div id="status_message"></div>
    </p>

    <input type="hidden" name="report[coordinates][]" id="longitude" value=""/>
    <input type="hidden" name="report[coordinates][]" id="latitude" value=""/>

    <div class="form-actions">
      <%= f.submit "Enviar", :class => 'btn btn-danger btn-large' %>
      <%= link_to 'Voltar', root_path, :class => 'btn' %>
    </div>

<% end %>
