<%= form_for(@report, :html => { :multipart => true, :class => 'form-horizontal' }) do |f| %>

    <% if @report.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <p><%= pluralize(@report.errors.count, t(:error)) %> <%= t(:stopped_report_from_save) %>:</p>
          <ul>
            <% @report.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group" id="photos-div">
      <%= f.label :photos, t(:photo_or_photos), :class => 'control-label' %>
      <div class="controls">
        <%= f.fields_for :photos do |photo_builder| %>
          <%= render 'photo_fields', :pf => photo_builder %>
        <% end %>
        <br/><%= link_to_add_fields t(:add_another_photo), f, :photos %>
      </div>
    </div>
    <div class="control-group" id="no-photos-div" style="display: none">
      <%= f.label :photos, t(:photo_or_photos), :class => 'control-label' %>
      <div class="controls">
        <%= t :no_browser_support_for_image_upload %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :user, t(:email), :class => 'control-label' %>
      <div class="controls">
        <%= text_field :user, :uuid, :placeholder => t(:sample_mail) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, t(:description), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :rows => 3, :placeholder => t(:problem_details_description) %>
      </div>
    </div>

    <p>
    <div class="status_message" id="loading_location_message"  style="display: none">
      <%= image_tag 'ajax-loader.gif' %>
      <%= t(:searching_location) %>
    </div>
    <div class="status_message" id="location_found_message"  style="display: none"><%= t(:location_found_message) %></div>
    <div class="status_message" id="location_not_found_message" style="display: none">
      <%= t(:location_not_found_message) %>
      <%= link_to_function t(:retry_location) ,'findLocation()', :class => 'btn' %>
    </div>


    <input type="hidden" name="report[coordinates][]" id="longitude" value=""/>
    <input type="hidden" name="report[coordinates][]" id="latitude" value=""/>

    <div class="form-actions">
      <%= f.submit t(:send), :class => 'btn btn-danger btn-large' %>
      <%= link_to t(:back), root_path, :class => 'btn' %>
    </div>

<% end %>
