<h2><%= t(:edit_report) %></h2>

<div id="problem" class="row-fluid">
  <div class="span6 offset3">


    <dl>
      <dt><%= t(:description) %></dt>
      <dd><%= @report.description %></dd>
      <dt><%= t(:location) %></dt>
      <dd>
        <%= gmaps({
                          :map_options => {:auto_zoom => false, :zoom => 15, :raw => '{styles: myStyle}'},
                          :markers => {'data' => @report.to_gmaps4rails},
                  })
        %>
        <br/>
        <!--   <small><%= @report.coordinates %></small> -->
      </dd>
    </dl>


    <div class="form-actions">
      <%= form_for(@report, :url=> extend_report_path(@report), :html => {:multipart => true, :class => 'form-horizontal', :style=>'float:left;margin: 10px;'


      }) do |f| %>

          <%= f.hidden_field :token %>
          <% extend_text  = @report.closure_date ==nil ? t(:extend_time): t(:not_solved) %>
          <%= f.submit extend_text, :class => 'btn btn-warning btn-large' if @report.closure_date == nil ||
                  (@report.closure_date != nil && @report.closure_type != 'user') %>

      <% end %>
      <%= form_for(@report, :html => {:multipart => true, :class => 'form-horizontal', :style=>'float:left;margin: 10px;'
      }) do |f| %>

          <%= f.hidden_field :token %>
          <%= f.submit t(:mark_as_solved), :class => 'btn btn-success btn-large' if @report.closure_date == nil ||
                  (@report.closure_date != nil && @report.closure_type != 'user') %>
      <% end %>
      <br/>

    </div>

    <%= link_to t(:back), :back, :class => 'btn' %>

  </div>
</div>
