<h2><%= t(:reported_problems) %></h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t(:municipality) %></th>
      <th><%= t(:description) %></th>
      <th></th>
    <!--<th></th>   -->
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.municipality.name %></td>
        <td style="white-space: pre-wrap"><%= report.description %></td>
        <td><%= link_to t(:more_information), report %></td>
     <!--<td><%# link_to t(:edit_report), edit_report_path(report, :token => report.token) %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:report_new_problem), new_report_path, :class => 'btn btn-danger' %>

<br><br>

<%= gmaps4rails(@reports.to_gmaps4rails) %>
