<h1>Listing reports</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Coordinates</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.description %></td>
    <td><%= report.coordinates %></td>
    <td><%= link_to 'Show', report %></td>

  </tr>
<% end %>
</table>

<br>

<%= link_to 'New Report', new_report_path %>

<br><br>

<%= gmaps4rails(@reports.to_gmaps4rails) %>
