<% content_for :description do @report.description end %>

<% content_for :report_image do
  if !@report.photos.blank?
    @report.photos[0].attachment.url(:medium)
  end
end %>


<h2><%= t(:problem).capitalize %></h2>

<div id="problem" class="row-fluid">
  <div class="span6 offset3">

    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>

    <dl>
      <dt><%= t(:description) %></dt>
      <dd><%= @report.description %></dd>
      <dt><%= t(:location) %></dt>
      <dd>
        <%= gmaps({
            :map_options => { :auto_zoom => false,
                              :zoom => 15,

                              :raw => '{
                              styles: myStyle,
                              disableDefaultUI: true,
                              mapTypeControl: true,
                              zoomControl: true,
                              zoomControlOptions: {
                                    style: google.maps.ZoomControlStyle.SMALL
                              },
                              draggable: false
                              }' },
            :markers     => { 'data' => @report.to_gmaps4rails },
          })
        %>
        <br/>
     <!--   <small><%= @report.coordinates %></small> -->
      </dd>
    </dl>

    <h3><%= t(:photo).pluralize(2) %></h3>

    <ul class="thumbnails">
      <% @report.photos.each do |p| %>
          <li class="span3">
            <a href="#full_image<%= p.attachment.url(:large).hash %>" data-toggle="lightbox" class="thumbnail">
              <%= image_tag p.attachment.url(:medium) %>
            </a>
          </li>
          <div id="full_image<%= p.attachment.url(:large).hash %>" class="lightbox hide fade" tabindex="-1" role="dialog">
            <div class='lightbox-header'>
              <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
            </div>
            <div class='lightbox-content'>
              <%= image_tag p.attachment.url(:large) %>
            </div>
          </div>

      <% end %>
    </ul>

    <p>
      <a href="javascript:history.back()" class="btn">« <%= t(:back) %></a>
    </p>

  </div>
</div>
