<% content_for :description do @report.description end %>

<% content_for :report_image do
  if !@report.photos.blank?
    @report.photos[0].attachment.url(:medium)
  end
end %>


<h2><%= t(:problem).capitalize %></h2>

<div id="problem" class="row-fluid">
  <div class="span6 offset3">

    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>

    <dl>
      <dt><%= t(:description) %></dt>
      <dd><%= @report.description %></dd>
      <dt><%= t(:location) %></dt>
      <dd>
        <%= gmaps({
            :map_options => { :auto_zoom => false, :zoom => 15, :raw => '{styles: myStyle}' },
            :markers     => { 'data' => @report.to_gmaps4rails },
          })
        %>
        <br/>
     <!--   <small><%= @report.coordinates %></small> -->
      </dd>
    </dl>

    <h3><%= t(:photo).pluralize(2) %></h3>

    <ul class="thumbnails">
      <% @report.photos.each do |p| %>
        <li class="span3">
          <%= link_to p.attachment.url(:medium), :class => 'thumbnail' do %>
            <%= image_tag p.attachment.url(:medium) %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <p>
      <%= link_to t(:back), reports_path, :class => 'btn' %>
    </p>

  </div>
</div>
