
<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @report.description %>
</p>

<p>
  <b>Coordinates:</b>
  <%= @report.coordinates %>
</p>

<%= gmaps({
    :map_options => { :auto_zoom => false, :zoom => 15 },
    :markers     => { :data  => @report.to_gmaps4rails },
  })
%>

<% @report.photos.each do |p| %>
  <p>
    <%= link_to p.attachment.url do %>
      <%= image_tag p.attachment.url(:medium) %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Back', reports_path %>
