
<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @report.description %>
</p>

<p>
  <b>Coordinates:</b>
  <%= @report.coordinates %>
</p>

<div id="map_canvas" style="width:50%; height:50%"></div>

<script type="text/javascript">
    initialize_map('map_canvas' ,<%= @report.coordinates[1] %>, <%= @report.coordinates[0] %>);
</script>

<% @report.photos.each do |p| %>
  <p>
    <%= link_to p.attachment.url do %>
      <%= image_tag p.attachment.url(:medium) %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Back', reports_path %>
