<h2>Problema</h2>

<div id="problem" class="row-fluid">
  <div class="span6 offset3">

    <p id="notice"><%= notice %></p>

    <dl>
      <dt><%= t(:description) %></dt>
      <dd><%= @report.description %></dd>
      <dt><%= t(:location) %></dt>
      <dd>
        <%= gmaps({
            :map_options => { :auto_zoom => false, :zoom => 15, :raw => '{styles: myStyle}' },
            :markers     => { 'data' => @report.to_gmaps4rails },
          })
        %>
        <br/>
     <!--   <small><%= @report.coordinates %></small> -->
      </dd>
    </dl>

    <h3><%= pluralize(2, t(:photo)) %></h3>

    <ul class="thumbnails">
      <% @report.photos.each do |p| %>
        <li class="span3">
          <%= link_to p.attachment.url, :class => 'thumbnail' do %>
            <%= image_tag p.attachment.url(:medium) %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <p>
      <%= link_to 'Voltar', reports_path, :class => 'btn' %>
    </p>

  </div>
</div>
