<h2><%= t(:stats) %></h2>

<table id="stats" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t(:municipality) %></th>
      <th><%= t(:reported_problems) %></th>
      <th><%= t(:legend_red_dot) %></th>
      <th><%= t(:legend_green_dot) %></th>
      <th><%= t(:legend_yellow_dot) %></th>
      <th><%= t(:mean_resolution_time) %></th>
    </tr>
  </thead>
  <tbody>
    <% @grouped_reports.each do |municipality, reports| %>
      <% if municipality.blank?
           municipality = Municipality.new()
           municipality.name = t(:not_in_portugal)
         end %>
          <% stats = reports_stats(reports) %>
          <tr>
            <td><%= municipality.try(:name) %></td>
            <td><%= stats[:total] %></td>
            <td><%= display_percentage(stats[:open], stats[:total]) %></td>
            <td><%= display_percentage(stats[:fixed], stats[:total]) %></td>
            <td><%= display_percentage(stats[:uncertain], stats[:total]) %></td>
            <td><%= pluralize(stats[:time_to_fix], t(:days)) %></td>
          </tr>

  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <% stats = reports_stats(@reports) %>
      <td><strong><%= t(:total) %></strong></td>
      <td><%= stats[:total] %></td>
      <td><%= display_percentage(stats[:open], stats[:total] ) %></td>
      <td><%= display_percentage(stats[:fixed], stats[:total] ) %></td>
      <td><%= display_percentage(stats[:uncertain], stats[:total] ) %></td>
      <td><%= pluralize(stats[:time_to_fix], t(:days)) %></td>
    </tr>
  </tfoot>
</table>

<div id="container" style="min-width: 310px; height: 250px; margin: 40px auto"></div>

<% content_for :scripts do %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <% months = group_reports_by_month(@reports) %>
  <script>
    $(function () {
      $('#container').highcharts({
        chart: {
          type: 'column'
        },
        title: {
          text: '<%= t(:reported_problems) %>'
        },
        xAxis: {
          categories: [
            '<%= months.keys.join("','").html_safe %>'
          ]
        },
        yAxis: {
          min: 0,
          title: {
            text: ''
          }
        },
        series: [{
          name: '<%= t(:reported_problems) %>',
          data: [<%= months.values.map(&:size).map(&:to_s).join(",") %>]
        }]
      });
    });
  </script>
<% end %>
