<!DOCTYPE html>
<html>
<head>
  <title>O meu bairro</title>
  <meta name="description" content="Ajuda a resolver os problemas do teu bairro.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if content_for? :contents %>
    <%= yield :contents %>
  <% else %>
    <header>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <h1><a href="/">O meu bairro</a></h1>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  <% end %>

  <footer>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <p><a href="http://improve.madeincoimbra.org">Made in Improve Coimbra</a></p>
        </div>
      </div>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
</body>
</html>
