<!DOCTYPE html>
<html>
<head>
  <title><%= t(:app_name) %></title>
  <meta name="description" content="<%= t(:mission_statement) %>">
  <META NAME="keywords" CONTENT="problemas,cidade,freguesia,bairro,cidadania,bitching">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

  <meta property="og:title" content="<%= t(:app_name) + ' | ' + t(:mission_statement) %>"/>
  <meta property="og:description" content="<% if content_for? :description %><%= yield :description %><% else %>Ajuda a resolver os problemas do teu bairro.<% end %>"/>
  <meta property="og:image" content="<% if content_for? :report_image %><%= yield :report_image %><% else %><% end %>"/>
  <meta property="og:url" content="http://<%= request.host+request.fullpath %>"/>
  <meta property="og:type" content="website"/>


  <link rel="icon" type="image/png" href="img/favicon.png">

</head>
<body>
<% if Rails.env == 'production' %>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= ENV["GOOGLE_ANALYTICS_ID"] %>']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
<% end %>

<% if content_for? :contents %>
    <%= yield :contents %>
<% else %>
    <header>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <h1><a href="/">No meu bairro</a></h1>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
<% end %>

<footer>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <p><%= link_to t(:about), :controller => :front, :action => "about" %> |
          <a href="http://improve.madeincoimbra.org">Made in Improve Coimbra</a></p>
      </div>
    </div>
  </div>
</footer>

<%= javascript_include_tag "application" %>
<%= yield :scripts %>
</body>
</html>
